.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 2rem;
  }

  button {
    min-width: 200px;
  }
}

